
<div *ngIf="address">
    <h2><span jhiTranslate="stockManagementApp.address.detail.title">Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockManagementApp.address.description">Description</span></dt>
        <dd>
            <span>{{address.description}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.addressLine1">Address Line 1</span></dt>
        <dd>
            <span>{{address.addressLine1}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.addressLine2">Address Line 2</span></dt>
        <dd>
            <span>{{address.addressLine2}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.addressLine3">Address Line 3</span></dt>
        <dd>
            <span>{{address.addressLine3}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.city">City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.zipCode">Zip Code</span></dt>
        <dd>
            <span>{{address.zipCode}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.type">Type</span></dt>
        <dd>
            <span>{{address.type}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.addressTypeDefinition">Address Type Definition</span></dt>
        <dd>
            <div *ngIf="address.addressTypeDefinitionId">
                <a [routerLink]="['/address-type-definition-address-utility', address.addressTypeDefinitionId]">{{address.addressTypeDefinitionDescription}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.country">Country</span></dt>
        <dd>
            <div *ngIf="address.countryId">
                <a [routerLink]="['/country-address-utility', address.countryId]">{{address.countryIsoCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.address.third">Third</span></dt>
        <dd>
            <div *ngIf="address.thirdId">
                <a [routerLink]="['/third-address-utility', address.thirdId]">{{address.thirdDescription}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-address-utility/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
