<div>
    <h2>
        <span jhiTranslate="stockManagementApp.address.home.title">Addresses</span>
        <button class="btn btn-primary float-right jh-create-entity create-address-address-utility" [routerLink]="['/', { outlets: { popup: ['address-address-utility-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="stockManagementApp.address.home.createLabel">
            Create new Address
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'stockManagementApp.address.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="addresses">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="stockManagementApp.address.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine1"><span jhiTranslate="stockManagementApp.address.addressLine1">Address Line 1</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine2"><span jhiTranslate="stockManagementApp.address.addressLine2">Address Line 2</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressLine3"><span jhiTranslate="stockManagementApp.address.addressLine3">Address Line 3</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="city"><span jhiTranslate="stockManagementApp.address.city">City</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="zipCode"><span jhiTranslate="stockManagementApp.address.zipCode">Zip Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="stockManagementApp.address.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="addressTypeDefinitionDescription"><span jhiTranslate="stockManagementApp.address.addressTypeDefinition">Address Type Definition</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="countryIsoCode"><span jhiTranslate="stockManagementApp.address.country">Country</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="thirdDescription"><span jhiTranslate="stockManagementApp.address.third">Third</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let address of addresses ;trackBy: trackId">
                <td><a [routerLink]="['../address-address-utility', address.id ]">{{address.id}}</a></td>
                <td>{{address.description}}</td>
                <td>{{address.addressLine1}}</td>
                <td>{{address.addressLine2}}</td>
                <td>{{address.addressLine3}}</td>
                <td>{{address.city}}</td>
                <td>{{address.zipCode}}</td>
                <td>{{address.type}}</td>
                <td>
                    <div *ngIf="address.addressTypeDefinitionId">
                        <a [routerLink]="['../address-type-definition-address-utility', address.addressTypeDefinitionId  ]" >{{address.addressTypeDefinitionDescription}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.countryId">
                        <a [routerLink]="['../country-address-utility', address.countryId  ]" >{{address.countryIsoCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="address.thirdId">
                        <a [routerLink]="['../third-address-utility', address.thirdId  ]" >{{address.thirdDescription}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../address-address-utility', address.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-address-utility/'+ address.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'address-address-utility/'+ address.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
        <div *ngIf="addresses && addresses.length">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="queryCount" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>
</div>
