
<div *ngIf="addressTypeDefinition">
    <h2><span jhiTranslate="stockManagementApp.addressTypeDefinition.detail.title">Address Type Definition</span> {{addressTypeDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="stockManagementApp.addressTypeDefinition.code">Code</span></dt>
        <dd>
            <span>{{addressTypeDefinition.code}}</span>
        </dd>
        <dt><span jhiTranslate="stockManagementApp.addressTypeDefinition.description">Description</span></dt>
        <dd>
            <span>{{addressTypeDefinition.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address-type-definition-address-utility/'+ addressTypeDefinition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
