<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRateLabel" jhiTranslate="stockManagementApp.rate.home.createOrEditLabel">Create or edit a Rate</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!rate.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="rate.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockManagementApp.rate.factor" for="field_factor">Factor</label>
            <input type="number" class="form-control" name="factor" id="field_factor"
                [(ngModel)]="rate.factor"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockManagementApp.rate.spotRateDate" for="field_spotRateDate">Spot Rate Date</label>
            <div class="input-group">
                <input id="field_spotRateDate" type="text" class="form-control" name="spotRateDate" ngbDatepicker  #spotRateDateDp="ngbDatepicker" [(ngModel)]="rate.spotRateDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="spotRateDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockManagementApp.rate.rate" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="rate.rate"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockManagementApp.rate.currencyFrom" for="field_currencyFrom">Currency From</label>
            <select class="form-control" id="field_currencyFrom" name="currencyFrom" [(ngModel)]="rate.currencyFromId"  required>
                <option *ngIf="!editForm.value.currencyFrom" [ngValue]="null" selected></option>
                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.isoCode}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.currencyFrom?.dirty && editForm.controls.currencyFrom?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.currencyFrom?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="stockManagementApp.rate.currencyTo" for="field_currencyTo">Currency To</label>
            <select class="form-control" id="field_currencyTo" name="currencyTo" [(ngModel)]="rate.currencyToId"  required>
                <option *ngIf="!editForm.value.currencyTo" [ngValue]="null" selected></option>
                <option [ngValue]="currencyOption.id" *ngFor="let currencyOption of currencies; trackBy: trackCurrencyById">{{currencyOption.isoCode}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.currencyTo?.dirty && editForm.controls.currencyTo?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.currencyTo?.errors?.required" jhiTranslate="entity.validation.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
